.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay,
.video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  font-size: 0;
}

.video {
  z-index: -100;
}

.overlay {
  background-color: #00000066;
  z-index: -10;
}

.businessCard {
  color: white;
  max-width: 300px;
  width: 100%;
  
  &Title {
    word-spacing: 10px;
    letter-spacing: 11px;
    line-height: 42px;
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 24px;
  }
  &Phone {
    a {
      color: white;
    }
  }
}

.contacts {
  position: absolute;
  bottom: 20px;
  right: 40px;
  line-height: 2;
  color: white;
  font-family: Arial;

  &Phone {
    a {
      color: white;
    }
  }
  &Email {
    a {
      color: white;
    }
  }
}

.local {
  position: absolute;
  top: 20px;
  right: 40px;

  @media screen and (min-width: 1200px) {
  }

  &List {
    list-style: none;
  }

  &Item {
    line-height: 2;

    @media screen and (min-width: 1200px) {
    }
  }

  & a,
  &Link {
    color: white;
  }
}

