.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}


.sitebar {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: right;
  padding: 11px 41px 41px 11px;
  gap: 11px;
  
  @media screen and (max-width: 780px) {
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px 21px 21px 11px;
  }
}

.overlay,
.video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  font-size: 0;
}

.video {
  z-index: -100;
}

.overlay {
  background-color: #00000066;
  z-index: -10;
}

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-basis: fill;
  
  color: white;
  width: 100%;
  
  &Title {
    margin: auto;
    max-width: 300px;
    word-spacing: 10px;
    letter-spacing: 11px;
    line-height: 42px;
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 24px;
  }
}

.contacts {
  bottom: 20px;
  right: 40px;
  line-height: 2;
  color: white;
  white-space: nowrap;
  
  @media screen and (max-width: 780px) {
    white-space: normal;
  }

  &Phone {
    a {
      color: white;
    }
  }
  &Email {
    a {
      color: white;
    }
  }
}

.local {
  @media screen and (min-width: 1200px) {
  }

  &List {
    list-style: none;
  }

  &Item {
    line-height: 2;

    @media screen and (min-width: 1200px) {
    }
  }

  & a,
  &Link {
    color: white;
  }
}

.link {
  color: white;
}

.CursorLines {
  &H,
  &V {
    position: fixed;
    top: -1px;
    left: -1px;
    background-color: rebeccapurple;
    user-select: none;
  }

  &V {
    width: 1px;
    height: 9999px;
  }

  &H {
    width: 99999px;
    height: 1px;
  }
}